* {
  margin: 0;
  padding: 0;
}

/*  HEADER  */

header {
  text-align: center;
  padding: 30px;
}

input,
button,
select {
  padding: 6px;
  border-radius: 1px;
  outline: none;
  border: none;
  border-radius: 1px;
}

button {
  padding: 7px;
}

input {
  border-bottom: solid 1px;
}

/* MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 50px;
  padding: 50px;
  box-shadow: 2px 2px 11px rgb(170, 170, 170);
  border-radius: 5px;
}

div {
  border: rgba(116, 116, 146, 0.1) solid 1px;
  height: 70vh;
  width: 200px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 11px rgb(170, 170, 170);
}

h2 {
  background-color: #F7F7F7;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}
