* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px 30px;
  background-color: #151515;
  color: white;
  font-family: sans-serif;
}

/* Header nav-bar contact */

.container-nav {
  display: flex;
  justify-content: space-between;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-nav {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  color: #03fdd7;
}
.contact-img {
  width: 20px;
}

.contact {
  padding: 2px 65px;
}

/*  Estudante Na +
Trabalhando na
Blocks  */

.block-one {
  padding: 20px 0;
  margin-bottom: 100px;
}

/* Fonts colors sizes */

.h1-title {
  font-size: 84px;
}

.h1-place-out {
  color: white;
  font-size: 64px;
  opacity: 0.1;
  text-decoration: line-through;
}

.h1-place-in {
  color: #03fdd7;
  font-size: 74px;
}

/* Galery */

.block-two {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 100px;
  border: solid red;
}

.block-two div {
  width: 50%;
}

.block-two-p {
  font-size: 26px;
  text-align: center;
  border: solid white;
}

.block-two-img {
  width: 50%;
  border: solid blue;

}